.boton {
    display: inline-block;
    border: 2px solid black;
    background-color: blue;
    color: white;
    padding: 10px;
}

.boton a {
    color: white;
    text-decoration: none;
}

.boton:hover {
    background-color: yellow;
    border-color: black;
}

.boton:hover a {
    color: black;
}